<% layout('layout2') %>

<div id="wrapper">
    
    <% include partials/slidebar %>
    
    
        <div id="page-content-wrapper">
           <% include partials/navbar %>
            <div class="container-fluid main_body">
               <h1>Hello, <%= user.fullname %></h1>
               <div class="ul_links">
                   
                </div>
               
               <div class="bodyDiv">
                        
                </div>
                
            </div>
        </div>
    
    </div>