<% layout('layout') %>

<div id="wrapper">

    <div id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/">Expert System for Dermatologist</a>
        </div>

        <ul class="sidebar-nav">
           
            <div class="profile_info">
                
            </div>
            

        </ul>
    </div>


    <div id="page-content-wrapper">
       <% include partials/nav %>
        <div class="container-fluid main_body">
           <h1>Welcome to Expert System for Dermatologist</h1>
           <div class="ul_links">
               
	        </div>
           
           <div class="bodyDiv">
                    
            </div>
            
        </div>
    </div>

</div>
    
    


